.mainDiv {
  position: relative;
}
.topBar {
  height: 10px;
  width: 200px;
  background-color: #000;
  margin-left: 120px;
}
.topBarMini {
  height: 50px;
  width: 10px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
}
.bottomBar {
  height: 10px;
  width: 250px;
  background-color: #000;
}
.khamba {
  height: 400px;
  width: 10px;
  background-color: #000;
  margin-left: 120px;
}

/*man drawing*/
.head {
  height: 50px;
  width: 50px;
  border: 10px solid black;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  right: -30px;
}
.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0px;
}
.right_arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}
.left_arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}
.right_leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}
.left_leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}
