.keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}
.key {
  width: 100%;
  border: 3px solid black;
  background-color: none;
  aspect-ratio: 1/1;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.key:hover:not(:disabled),
.key:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
